.navigationList {
    display: flex;
    justify-content: space-between;
  }
  .listItem {
    font-size: 0.8rem;
    font-weight: 700;
    color: gray;
  }
  .listItem:active {
    position: relative;
    color: #e04f42;
  }
  .selectedHoverEffect {
    position: relative;
  }
  .selectedHoverEffect::before {
    position: absolute;
    content: "";
    border: 2px solid #e04f42;
    width: 100%;
    bottom: -1.2em;
    visibility: hidden;
  }
  .selectedHoverEffect:active::before {
   visibility: visible;
  }
  
  .navigationBar {
    padding: 1em 2em;
    border-radius: 0.5em;
    background-color: white;
    box-shadow: 0 0 10em 0 rgb(217, 231, 229);
  }
  
  @media screen and (max-width:425px) {
      .listItem{
          font-size: 0.6rem;
      }
      
  }