.mainPokedata{
    background-color: white;
    margin-top: 2rem;
    padding: 0 auto;
    border-radius: 10px;
}

.artworkAndType{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sprite{
    border: 1px solid black;
    height: 5vw;
    width: 5vw;
    object-fit: contain;
    border-radius: 0.4em;
    margin: 0.4em;
}
.bar-chart{
    background-color: rgb(118, 221, 92);
    border-radius: 8px;
}
.pokeEntry{
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    font-size: 0.8em;
}
.officialArtWork{
    max-height: 500px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.statsTable{
    min-width: 500px;
    /* border: 1px solid black; */
}

.moves{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    
}
table{
    /* border: 1px solid black; */
    padding: 0.5em 0.25em;
    background-color: rgb(235, 235, 243);
    border-radius: 10px;
    font-size: 0.8rem;
    margin: 0.5em 0.25em;
}
td{
    /* border:  1px solid black; */
    background-color: white;
    border-radius: 10px;
    padding: 0.2em 0.6em;
    margin-right: 0.5em;
    /* font-size: 75%; */
}

th{
    padding: 0.2em 0.6em;
    margin-right: 0.2em;
    font-size: 75%;
}

.flex{
    display: flex;
    flex-direction: column;
}
.machineMovesTable{
    max-height: 1000px;
    overflow-y: scroll;
}